<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet, consectetur facere facilis illum iste
  laudantium magnam magni maxime nisi quisquam ratione recusandae rem saepe sapiente sit tenetur ullam voluptas!</p>